html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 171);
}
canvas {
  display: block;

}
button{
  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  background-color: rgb(172, 255, 172);
  border: 1px solid black;
}
