body,html{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    min-height: 100%;
    min-width: 100%;
    flex-direction: column;
}

* {
    transition: background-color 1s ease, color 0.3s ease, transform 0.3s ease;
  }
  

div{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

img{
    width: 10%;
}

@keyframes wiggle {
    0%   { transform: rotate(0deg); }
    15%  { transform: rotate(-15deg); }
    30%  { transform: rotate(15deg); }
    45%  { transform: rotate(-10deg); }
    60%  { transform: rotate(10deg); }
    75%  { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }
  
  .wiggle {
    animation: wiggle 0.5s ease;
  }



  .spam-word {
    position: fixed;
    z-index: -9999; /* Behind all elements */
    pointer-events: none; /* Don't interfere with clicks */
    color: rgba(255,255,255, 0.75); /* Transparent black */
    font-size: 20px;
    font-family: sans-serif;
    user-select: none;
    white-space: nowrap;
  }