html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(198, 244, 255);
}
canvas {
  display: block;
}
canvas.rot {
  transform: rotate(90deg);
}
